# Gradle files
.gradle/
**/build/
**/.cxx/

# Android Studio
.idea/
*.iml

# Local config
local.properties

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Kotlin/Java compiled classes
*.class
*.apk
*.jar
*.war

# Misc
*.hprof
